:root {
    --colorprimario: #E5D9F2;
    --colorsecundo: #F5EFFF;
    --colortercero: #CDC1FF;
    --colorcuarto: #A594F9;

    --letrasblancas: #fff;
    --fuente: 'Eczar', cursive;
}
body {
    background-color: var(--colortercero)
}

h1, p {
    font-family: var(--fuente);
    text-align: center;
}
.encabezado {
    background-color: var(--colorcuarto);
    padding: 1rem 0;
}
.encabezado__tema {
    text-align: center;
}
.aprendi {
    text-align: center;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.modo-oscuro {
    background-color: #333;
    color: white;
}
button {
    padding: 10px 20px;
    margin-top: 20px;
    background: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}